[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "2.9.9"
django = "5.1.2"
pillow = "11.0.0"

[dev-packages]

[requires]
python_version = "3.12"
